@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h5,
span,
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 0px;
}
